
/.vs
/bin
/obj
/DATA

*.user

/nn/.vs
/nn/obj
/nn/bin
/nn/DATA

/examples/.vs
/examples/obj
/examples/bin
/examples/DATA

/dev/.vs
/dev/obj
/dev/bin
/dev/DATA

/tools/coff/.vs
/tools/coff/obj
/tools/coff/bin
/tools/coff/DATA

/tests/.vs
/tests/obj
/tests/bin

/efi
